.filter {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 19px;
	margin-bottom: 20px;
	
	@media (min-width: 768px) {
		padding-top: 8px;
		margin-bottom: 39px;
		
	}
}

.filter__block {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.filter__element {
	margin: 0;
	margin-bottom: 9px;
	padding: 0;
	display: block;
	
	
	@media (min-width: 768px) {
		margin-right: 0;
		display: inline-block;
	}
	
	@media (min-width: 1200px) {
		margin-right: 11px;
		
		&:last-child {
		margin-right: 0;
	}
	}
}

.filter__button {
	display: inline-block;
	color: #cecece;
	cursor: pointer;
	
	padding-top: 12px;
	padding-left: 31px;
	padding-right: 31px;
	padding-bottom: 15px;
	
	&:hover {
		border: 2px solid @blueHeading;
		padding-top: 10px;
		padding-left: 29px;
		padding-right: 29px;
		padding-bottom: 13px;
		color: #000;
	}
}

.filter__button--active {
	border: 2px solid @blueHeading;
	padding-top: 10px;
	padding-left: 29px;
	padding-right: 29px;
	padding-bottom: 13px;
	color: #000;
}

